



.btn-primary{
	background-color:$primary !important;
	border:none !important;

	&:focus{
		outline:none !important;
		box-shadow: 0;
	}

	&:active{
		outline: none;
		   border: none;
	}
}



.btn-info{
	background-color:$info !important;
	border:none !important;

	&:focus{
		outline:none !important;
		box-shadow: 0;
	}

	&:active{
		outline: none;
		   border: none;
	}
}
