
// Body
$body-bg: #f8fafc;

// Typography

$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
//$primary: #3490dc;
$primary: #AE967E;          // any color acc to your pallete
$secondary: #6574cd;
$info: #fcfcfc;     // white color
$success: #9561e2;
//$info: #AE967E;         // picked color from hotel in fb page
$warning: #e3342f;
$danger: #f6993f;
$light: #ffed4a;
$dark: #6c757d;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$searchbgcolor:#F4F4F4;
$roomrow:#FFFFFF;
$mutecolor:#727081;

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// for fontawesome
$fa-font-path:        "../webfonts";


// copied from andreyoutubvideo

$text-color: #212121;
$text-color-light: #919191;
$white: #e9e9e9;
$gray-background: #535353;
$light-gray-background: #F5F5F5;
$separator-color: #CDCDCD;
$heart: #FFBABA;
$primary: #3EBFA4;
$cart-count: #FFD94D;

$gutter: 30px;
